header {
    height: 50px;
    background-color: $blue;

    .info_nav {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        h1 {
            color: $white;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }

        div {
            img {
                width: 20px;
            }
        }

      .patientProfileName {
        text-align: center;
        flex: 1;
      }
    }
}

.next_session {
    width: 95%;
    border: 1px solid rgba($blue, .5);
    border-radius: 6px;
    margin: 0 auto;
    padding: 14px 0;
    margin-top: 8px;

    div {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-start;

        h2 {
            font-size: 18px;
            font-weight: 300;
        }

        p {
            color: $blue;
            font-size: 14px;
            font-weight: 700;
            padding-top: 5px;
        }
    }
}

.launch_robot {
    width: 95%;
    border: 1px solid rgba($blue, .5);
    border-radius: 30px;
    margin: 0 auto;
    padding: 14px 0;
    margin-top: 8px;
    
    div {
        width: 80%;
        margin: 0 auto;

        a {
            color: $blue;
            font-size: 18px;
            font-weight: 300;
            display: flex;


            span {
                margin-left: 40px;
            }
        }
        
    }
}

.suivi {

    margin-top: 20px;

    .confiance {
      font-size: 16px;
      padding: 32px 16px 40px 32px;
      border-bottom: 1px solid rgba($grey2, .5);

      span {
        color: $blue;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .container-seance {
      .seance {
        padding: 22px 22px 22px 32px;
        position: relative;
        border-bottom: 1px solid rgba($grey2, .5);

        &:after {
          content:'';
          position: absolute;
          background-image: url('assets/img/arrow.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 7px;
          height: 12px;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
        }

        .nbrSeance {
          color: $blue;
          font-size: 12px;
          font-weight: 700;
          margin-top: 8px;
        }
      }
    }
  }
