.home {
  header {
    background-color: $blue;
    color: #fff;
    font-weight: 300;
    padding: 10px;
  }

  .searchPatient {
    width: 100%;
    border: none;
  }

  .switch-btn {
    width: 90%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #fff;
    border-radius: 5px;

    div {
      flex: 1;
      text-align: center;
      padding: 5px;
    }

    .active {
      background-color: #fff;
      color: $blue;
    }
  }

  .search {
    display: flex;
    align-items: center;
    padding: 11px 0;
    border-bottom: 1px solid $grey2;

    img {
      margin: 0 16px;
    }

    input {
      font-size: 14px;
    }
  }

  .contain-peoples {
    .people {
      display: flex;
      padding: 21px 16px;
      border-bottom: 1px solid $grey2;

      .contain-img {
        width: 67px;

        img {
          width: 51px;
          border-radius: 50%;
        }
      }

      .description {
        width: 90%;
        position: relative;

        &:after {
          content:'';
          position: absolute;
          background-image: url('assets/img/arrow.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 7px;
          height: 12px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        .name {
          font-size: 16px;
          margin-top: 4px;
          margin-bottom: 10px;
        }

        .seance {
          color: $blue;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }




// SUITE PAGE CLEMENT

  .suivi {
    .confiance {
      font-size: 16px;
      padding: 32px 16px 40px;
      border-bottom: 1px solid $grey2;

      span {
        color: $blue;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .container-seance {

      .seance {
        padding: 22px;
        position: relative;
        border-bottom: 1px solid $grey2;

        &:after {
          content:'';
          position: absolute;
          background-image: url('assets/img/arrow.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 7px;
          height: 12px;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
        }

        .nbrSeance {
          color: $blue;
          font-size: 12px;
          font-weight: 700;
          margin-top: 8px;
        }
      }
    }
  }
}
