.login {
  .logo {
    display: block;
    margin: 0 auto;
    padding: 50px 0 30px;
    width: 56px;
  }
  .forget {
    display: block;
    font-family: $lato;
    color: $grey2;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 40px;
    margin-top: 10px;
  }
}
