/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$lato: 'lato', arial, sans-serif;
$helvetica: Helvetica;

/* colors */
$black: #000000;
$white: #fff;
$blue: #4353FF;
$grey: #D2D2D2;
$blackShadow: rgba(0, 0, 0, 0.1);
